menu {
    display: "flex";
    flex-direction: "column";
    gap: "10px";
    padding: "20px";
    border-right: "1px solid #ccc";
    width: "150px";
    height: "100vh";
    position: "fixed";
    top: 0;
    left: 0;
    background: "#f9f9f9";
  }

.item {
    cursor: "pointer";
    padding: "8px";
    border-radius: "6px";
    transition: "0.2s";
  }